<footer>
    <p class="text-muted position-fixed bottom-0">Brought to you by <a href="https://dkatsios.ml"
           target="_blank"
           rel="noopener">Damian</a>. &copy;2021
        Damian Katsios - All Rights Reserved - <a href="https://github.com/dk-raw/password-generator-express"
           target="_blank" rel="noopener">Source Code</a>, <a href="mailto:dkatsios@mathflare.xyz">Contact</a> -
        time in the
        server: <%= locals.time %>
    </p>
</footer>